@model SearchFriendsViewModel
@inject IImageService imageService
@{
    ViewData["Title"] = "Search Friends";
}
<div class="text-center" style="width:600px; margin-left: auto;margin-right: auto;">
    <div class="user-search-request">
        <form asp-action="SearchFriends" asp-controller="Request" class="row mt-3 mb-1" method="post">
            <input asp-for="Request" class="form-control col-sm-9" placeholder="Write name or/and surname" />
            <button class="btn btn-primary col-sm-3" type="submit"> Search</button>
        </form>
    </div>
    @if (Model.Users.Count == 0)
    {
        <h1 class="text-danger"> Not Found</h1>
    }
    else
    {
        <div class="user-search-result">
            <vc:friend-list model=@Model.Users></vc:friend-list>
        </div>
    }
</div>


