@model SearchFriendsViewModel
@inject IImageService imageService
@{
    ViewData["Title"] = "Search Friends";
}
<div class="user-search-request">
    <form asp-action="SearchFriends" asp-controller="Request" class="mt-3" method="post">
        <input asp-for="Request" class="form-control" placeholder="Write name or/and surname" />
        <button class="btn btn-primary" type="submit"> Search</button>
    </form>
</div>
@if (Model == null)
{
    <h1> Not Found</h1>
}
else
{
<div class="user-search-result">
    @foreach (User user in Model.Users)
    {
        string imagePath = imageService.getUserImagePath(user);
        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id=@user?.Id>
            <img src="@Url.Content(imagePath)" class="avatar-middle-size rounded-circle" />
            <div class="profile-name">
                @user.UserInformation.FirstName  @user.UserInformation.SecondName
            </div>
        </a>

    }
</div>
}

