@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-light border-block-rounded bg-dark m-2 p-2">
        <p>
            Лисица - одна из самых популярных героинь детских сказок. Но Лиса как сказочный образ наделена чертами, свойственными этим животным в реальности. Лиса красива: пышный хвост, составляющий немного меньше половины длины тела, рыжая шуба и плутоватая узконосая мордочка с красивыми карими глазами. К тому же Лиса стройна, изящна, весит 6-10 килограммов.
        </p>

    </div>
    <div class="text-light border-block-rounded bg-dark m-2 p-2">
        <h3 class="text-center"> КАК ВЫГЛЯДИТ ЛИСА </h3>
        <p>
            Лису называют еще рыжей, и это на самом деле так, только живот у нее белый, серый или чуть буроватый, а грудь светлая. Спина и бока Лисы в различных частях окрашены по-разному: от ярко-рыжей до серой.
        </p>
        <p>
            В северных лесах Лисицы огненно-красные и больше, в лесостепи - желтовато-серые и меньше. Сиводушки, крестовки, чернобурки - это обыкновенные Лисицы с отклонениями от обычной окраски. Наиболее красив черно-бурый мех: остевые волоски с белыми верхними частями придают меху серебристый оттенок.
        </p>
        <p>
            Таких Лис уже много лет назад стали разводить на зверофермах, черно-бурые Лисицы в природе встречаются очень редко.
        </p>
        <p>
            Летний мех Лисицы жесткий и короткий, в нем она выглядит поджарой, большеголовой и даже длинноногой, он Лисе идет меньше, чем зимний. А к осени отрастает зимний мех - красивый, густой. Линяет Лиса раз в год - весной.
        </p>
    </div>
    <div class="text-light border-block-rounded bg-dark m-2 p-2">
        <h3 class="text-center"> ПОВАДКИ ЛИСИЦЫ </h3>
        <p>
            Лисица - хороший охотник. Помимо наблюдательности и сообразительности, у нее прекрасная зрительная память, хорошее обоняние и острый слух. Пискнет чуть слышно мышь, а Лиса слышит ее за сотню метров, прошелестит полевка по сухой траве под полуметровым слоем снега - и ее услышит. Хорошо лазает по кручам, плавает, а на берегу исключительно маневренна. Ее смекалка на охоте либо при бегстве от преследователей вызывает восхищение.
        </p>
        <p>
            Лисица сможет залезть на дерево, если оно чуть наклонено или ветвится невысоко от земли. Лисица очень активна. Она до мельчайших подробностей знает свой охотничий участок, систематически его осмотрит. Зимой узорчатые цепочки Лисьих следов причудливо пересекают поля, перелески, овраги, теряясь на дорогах и тропах и переплетаясь вокруг скирд соломы, копен сухих соевых стеблей, куч валежника и в других местах, где обитают мыши и полевки.
        </p>
        <p>
            Существовало, да и сейчас еще существует мнение, что основная еда Лис - зайцы. Конечно, Лиса любит зайчатину, но догнать зайца она может не часто - где уж ей, угнаться за таким бегуном.
        </p>
        <p>
            Впрочем, Лисы прекрасно обходятся и без зайчатины. Подсчитано, что в рационе Лисицы более 300 различных животных - от насекомых до крупных птиц.
        </p>
        <p>
            И все же основная пища Лисы - грызуны. Они занимают 80-85% ее рациона. Чтобы насытиться, Лисице нужно поймать и съесть не менее двух десятков мышей и полевок в день. И там, где кормится Лисица - а площадь ее кормового участка в среднем 10 километров в диаметре - грызунов гораздо меньше, чем там, где лисиц нет.
        </p>
    </div>
    <div class="text-light border-block-rounded bg-dark m-2 p-2">
        <h3 class="text-center"> РАЗМНОЖЕНИЕ ЛИСИЦ </h3>
        <p>
            Брачный период у лисиц начинается с конца января - в феврале, а на севере и в марте, хотя и до этого часто можно увидеть самца и самку в паре. В свадебное время, в марте, за одной самкой ухаживает несколько самцов, и драки между ними - явление обычное. Во время гона Лисицы сильно возбуждены, часто тявкают и завывают, особенно одиночки, еще не нашедшие для себя пару.
        </p>
        <p>
            По голосам можно отличить самца и самку. Самка Лисы делает тройной взлай и заканчивает его коротким воем, а самец лает чаще и больше, как собака. Уединившись, пары много играют, даже своеобразные танцы устраивают: Лиса поднимается на задние лапы и ходит в таком положении мелкими шажками. От этого танца получил свое название фокстрот (слово "фокстрот" - английское и означает "лисий шаг").
        </p>
        <p>
            Самцы лисиц - хорошие семьянины. Они не только принимают деятельное участие в выращивании молодняка, но и трогательно заботятся о своих подругах еще задолго до того, как те подарят им прелестных лисят: носят пищу, благоустраивают норы.
        </p>
        <p>
            Лисят в помете бывает от 4 до 12, но чаще всего 5-6. Появляются они после 51-53 дневной беременности, как правило в конце апреля или в первой половине мая. Лисята рождаются слабые и беспомощные, глухие и слепые, массой всего 100-150 граммов, но растут довольно быстро. Меньше чем через месяц они уже видят, слышат, весят около 1 килограмма, выходят из норы, а вскоре начинают играть и резвиться. Родители Лисы с этого времени приносят им полуживую дичь, чтобы лисята приобретали охотничьи навыки.
        </p>
        <p>
            Стоит человеку даже случайно наткнуться на Лисью нору, как в ближайшую же ночь Лисята будут переведены в другое место, в запасную нору, их у Лисиц на участке обычно несколько. Если Лисятам грозит опасность, взрослые обнаруживают удивительное присутствие духа. Даже когда человек лопатой разрывает нору, они до последнего пытаются спасти своих детей - вывести через один из отнорков.
        </p>
        <div class="text-light border-block-rounded bg-dark m-2 p-2">
            <h3 class="text-center"> ЛИСЬЯ ХИТРОСТЬ </h3>
            <p>
                Иногда можно заметить в лисьем поведении действия, напоминающие эпизоды из сказок. Например, к тетеревам, собравшимся на току на открытой поляне, Лиса подходит удивительно хитро: делает вид, будто они ее нисколько не интересуют, даже не смотрит в их сторону; иногда приляжет, подремлет, а птицы теряют бдительность, занимаются своими делами - уж очень Лиса хорошая актриса.
            </p>
            <p>
                А тем временем патрнкеевна на метр-другой к ним продвинется. Времени на игру Лиса не жалеет: порой час-другой такое представление длится. Потом несколько молниеносных прыжков - и охота победоносно завершена.
            </p>
        </div>
        <div class="text-light border-block-rounded bg-dark m-2 p-2">
            <h3 class="text-center"> ИНТЕРЕСНЫЕ ФАКТЫ О ЛИСЕ </h3>
            <p>
                Не многих животных величают по имени-отчеству. А вот Лисицу часто величают именно так. Да еще и отчество у нее необычное - Патрикеевна. Лет примерно 600 назад жил князь по имени Патрикей Наримунтович, прославившийся своей изворотливостью и хитростью. С тех пор имя Патрикей стало равнозначно слову хитрец. А так как Лиса издавна в народе считалась зверем очень хитрым, то как наследница знаменитого князя и получила отчество Патрикеевна.
            </p>
            <p>
                Будучи типичным хищником, Лисица с удовольствием ест ягоды, яблоки, кое-какие овощи.
            </p>
        </div>
    </div>
    </div>
