<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Error <span class="badge badge-secondary">@ViewBag.Code</span></h1>
        <a class="lead" asp-area="" asp-controller="Home" asp-action="Index">Click here to return to the main page.</a>
    </div>
</div>