<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Something went wrong </h1>
        <b>Please tell us about the problem: <a href="https://github.com/dimasindro"> author </a></b>
    </div>
</div>